www.souffle.kr {
    encode gzip

    route {
	handle /swagger {
	    reverse_proxy backend:4000
	}
	handle /swagger/* {
	    reverse_proxy backend:4000
	}

        handle_path /uploads/* {
            root * /app/uploads
            file_server
        }

        handle /docs* {
	    header Cache-Control "no-store"
            reverse_proxy data:8000
        }

        handle /openapi.json {
            reverse_proxy data:8000
        }

	handle /auth/* {
	    rewrite * /api/v1{uri}
	    reverse_proxy backend:4000
	}

	handle /health {
	    reverse_proxy backend:4000
	}

        handle /api/v1/* {
            reverse_proxy backend:4000
        }

        handle /data/api/v1/* {
            reverse_proxy data:8000
        }

        handle {
	    reverse_proxy frontend:3000
        }
    }

    tls ssafya304@gmail.com
}

